<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Travel App</title>
</head>

<body>
    <h1>Welcome to the Travel App</h1>
    <div id="buttons">
        <a href="/attractions"><button class="btn">View Attractions</button></a>
        <a href="/visitors"><button class="btn">View Visitors</button></a>
        <a href="/reviews"><button class="btn">View Reviews</button></a>
    </div>
</body>

</html>