<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Update Review</h1>
    <form action="/reviews/<%= review._id %>" method="POST">
        <input type="number" name="score" value="<%= review.score %>" min="1" max="5" required>
        <textarea name="comment" required><%= review.comment %></textarea>
        <button type="submit">Update Review</button>
    </form>


    <script src="/script.js"></script>
</body>

</html>