<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors Activity</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Visitors Activity</h1>

    <div id="visitor-activity">
        <% visitorActivity.forEach(activity=> { %>
            <div class="card">
                <h3>
                    <%= activity.visitorName %>
                </h3>
                <p><strong>Number of Reviews:</strong>
                    <%= activity.reviewCount %>
                </p>
            </div>
            <% }); %>
    </div>

    <script src="/script.js"></script>
</body>

</html>